@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}
<section class="contact-section pb-50 pt-50">
    <div class="container" style="padding: 0 20%">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-form-wrapper">
                    <div class="row">
                        <div class="col-xl-10 col-lg-8 mx-auto">
                            <div class="section-title text-center mb-50">
                                <span class="wow fadeInDown" data-wow-delay=".2s">Continue logging in</span>
                                <h3 class="wow fadeInUp" data-wow-delay=".4s">@ViewData["Title"]</h3>
                                <p class="wow fadeInUp" data-wow-delay=".6s">Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                            </div>
                        </div>
                    </div>
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">
                        <input asp-for="RememberMe" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.TwoFactorCode"></label>
                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMachine">
                                    <input asp-for="Input.RememberMachine" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn">CONTINUE</button>
                        </div>
                    </form>
                    <p class="text-center">
                        Don't have access to your authenticator device? You can
                        <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
