@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- ========================= page-banner-section start ========================= -->
<section class="page-banner-section pt-75 pb-75 img-bg" style="background-image: url('../img/bg/common-bg.svg')">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-content">
                    <h2 class="text-white">405 Page</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">405</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= page-banner-section end ========================= -->
<!-- ========================= page-404-section end ========================= -->
<section class="page-404-section pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-404-content text-center">
                    <h2 class="mb-30">405</h2>
                    <h4 class="mb-40">Access Forbidden</h4>
                    <a href="/" class="theme-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= page-404-section end ========================= -->